<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to <span>Looking For Games</span></h1>
  <a href='/profile'>Profile</a>
  <form action="/profile/search" method="GET">
    <input type="text">
    <button type="submit">Search</button>
  </form>
  <a href='/nextPage'>Next</a>
  <a href='/prevPage'>Previous</a>
  <div id="games-container">
    <% games.results.forEach(game => { %>
        <span id="game-name">
          <%- game.name %> 
        </span>
        <span id="game-rating">
          <%- game.rating %>
        </span>
          <img src= "<%- game.background_image %>" height="10%" width="10%">
      <% }) %>
      <!-- <%- games.results[0].slug %> -->
</body>
</html>